h3 {
  color: #9dabdd;
}

header {
	height: 100vh;
	margin-bottom: 30px;
	margin-top: 0px;
}

.what {
	height: 100vh;
}
	

@media (max-width: 800px) {
  header .display-1 {
      font-size: 3rem;
  }
}

a {
  text-decoration: none;
}
