h3 {
  color: #9dabdd;
}

#landing {
  margin: 0px;
}

header {
height: 100vh;
  	/* margin-left: 50px;
	margin-bottom: 30px;
	margin-top: 0px; */
}

#wel {
  margin-top: 20em;
  margin-right: 10em;
}

.what {
	height: 100vh;
  margin-top: 150px;
  /* align-items: center; */
}

.nop {
  margin: 5%;
}
	

@media (max-width: 800px) {
  header .display-1 {
      font-size: 3rem;
  }

  #wel {
    margin-top: 100px;
    margin-left: 0px;
  }

  .what {
    margin-top: 100px;
    margin-left: 0px;
    height: auto;
  }

  .nop {
    margin: 0px;
  }
}

a {
  text-decoration: none;
  color: #6161d8;
}

a:hover {
  text-decoration: none;
  color: rgb(39, 118, 209);
}

.btn:hover {
  background-color: rgb(189, 142, 233);
  border: none;
 color:white
}